<section class="banner-section">
  <div class="container">
    <img src="../../assets/images/aboutuspage/about-us-banner.jpg" alt="css" class="bg-img">
    <div class="text-block">
      <h1>About Us</h1>
    </div>
  </div>
</section>
<section class="counter-section">
  <div class="container">
    <div class="counter-grid">
      <div class="grid-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="grid-item-inner">
          <h2 class="counter p-b-20">
            2022
          </h2>
          <span>
            Founded
          </span>
        </div>
      </div>
      <div class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="grid-item-inner">
          <h2 class="counter p-b-20">
            20 <span>+</span>
          </h2>
          <span>
            Global Team
          </span>
        </div>
      </div>
      <div class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <div class="grid-item-inner">
          <h2 class="counter p-b-20">
            20 <span>+</span>
          </h2>
          <span>
            Mastered Technologies
          </span>
        </div>
      </div>
      <div class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="grid-item-inner">
          <h2 class="counter p-b-20">
            100 <span>+</span>
          </h2>
          <span>
            Successful Projects
          </span>
        </div>
      </div>
      <div class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
        <div class="grid-item-inner">
          <h2 class="counter p-b-20">
            25 <span>+</span>
          </h2>
          <span>
            Web Pages Crawled Daily
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="two-col-card-section p-t-0">
  <div class="container">
    <div class="two-col-card-wrapper">
      <div class="two-col-card" data-aos="fade-up" data-aos-duration="1000">
        <div class="two-col-card-inner light-green-bg">
          <h2 class="m-b-20">Our Story</h2>
          <p class="text-center">
            Welcome to Astute Info Solution, where quality, timeliness, and structured excellence are at the core of
            everything we do. Established in 2023, we are a dynamic force in the world of web crawling, software
            development, and IT consulting. Our commitment to excellence and a strong sense of purpose drive our passion
            for innovation.
          </p>
        </div>
      </div>
      <div class="two-col-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="two-col-card-inner has-img ">
          <img src="../../assets/images/aboutuspage/our-mission-img.jpg" alt="our-mission-img" class="bg-img">
        </div>
      </div>
      <div class="two-col-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <div class="two-col-card-inner has-img">
          <img src="../../assets/images/aboutuspage/our-vision-img.jpg" alt="our-vision-img" class="bg-img">
        </div>
      </div>
      <div class="two-col-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="two-col-card-inner light-purple-bg">
          <h2 class="m-b-20">Our Mission</h2>
          <p class="text-center">
            Our mission is simple: to make your digital dreams a reality. We're here to provide exceptional services,
            tailored to your unique needs. Whether you're seeking data insights through web crawling, expert software
            solutions, or strategic IT consulting, we've got you covered.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grid-with-hover-section p-t-0 text-center">
  <div class="container">
    <h2 class="m-b-30">Our Values</h2>
    <div class="grid-with-hover-wrapper">
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/aboutuspage/our-value/quality.svg" alt="Quality">
          <h3>Quality</h3>
          <div class="hover-box">
            <p>Quickly get the data you need with our fast and reliable web crawling service.</p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/aboutuspage/our-value/timeliness.svg" alt="Timeliness">
          <h3>Timeliness</h3>
          <div class="hover-box">
            <p>Partnering with you to deliver customized software solutions for your unique business
              with exceptional quality.
            </p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/aboutuspage/our-value/structured-approach.svg"
            alt=" IT Consultant logo">
          <h3> Structured Approach</h3>
          <div class="hover-box">
            <p>Guiding Your Business with Expert IT Advice.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="img-content-section has-right-img p-v-0">
  <div class="container">
    <div class="img-text-wrapper light-blue-bg" data-aos="fade-up" data-aos-duration="1000">
      <div class="text-wrapper">
        <h2 class="m-b-30 text-left">Meet Our CEO</h2>
        <p>At the helm of our organization is our young and enthusiastic CEO, Shyam Ghodasara. Their forward-thinking
          vision, combined with a passion for cutting-edge technology, drives our team's spirit. They're not just a
          leader, they're a catalyst for innovation.</p>
      </div>
      <div class="img-wrapper">
        <img src="../../assets/images/aboutuspage/ceo-img.png" alt="ceo">
      </div>
    </div>
  </div>
</section>
<section class="product-tabbing-section">
  <div class="container">
    <h2 class="m-b-50">Our Products</h2>
    <mat-tab-group class="product-tab-group">
      <mat-tab label="e-commerce">
        <ng-template mat-tab-label>
          <img src="../../assets/images/aboutuspage/our-product/product-ecommerse-blue.svg" alt="ecommerse"
            class="hover-img">
          <img src="../../assets/images/aboutuspage/our-product/product-ecommerse-sky.svg" alt="ecommerse"
            class="normal-img">
          <span class="title">e-commerse</span>
        </ng-template>
        <div class="product-tab-content img-content-section has-right-img">
          <div class="img-text-wrapper">
            <div class="text-wrapper">
              <h3 class="m-b-30">Content Management System (CMS)</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum </p>

            </div>
            <div class="img-wrapper">
              <img src="../../assets/images/aboutuspage/our-product/product-cms-dashboard.jpg"
                alt="product-cms-dashboard">
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="health-domain">
        <ng-template mat-tab-label>
          <img src="../../assets/images/aboutuspage/our-product/product-health-blue.svg" alt="Health Domain"
            class="hover-img">
          <img src="../../assets/images/aboutuspage/our-product/product-health-sky.svg" alt="Health Domain"
            class="normal-img">
          <span class="title">Health Domain</span>
        </ng-template>
        <div class="product-tab-content img-content-section has-right-img">
          <div class="img-text-wrapper">
            <div class="text-wrapper">
              <h3 class="m-b-30">Content Management System (CMS)</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum </p>

            </div>
            <div class="img-wrapper">
              <img src="../../assets/images/aboutuspage/our-product/product-cms-dashboard.jpg"
                alt="product-cms-dashboard">
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="iot-domain">
        <ng-template mat-tab-label>
          <img src="../../assets/images/aboutuspage/our-product/product-iot-blue.svg" alt="IOT Software"
            class="hover-img">
          <img src="../../assets/images/aboutuspage/our-product/product-iot-sky.svg" alt="IOT Software"
            class="normal-img">
          <span class="title">IOT Software </span>
        </ng-template>
        <div class="product-tab-content img-content-section has-right-img">
          <div class="img-text-wrapper">
            <div class="text-wrapper">
              <h3 class="m-b-30">Content Management System (CMS)</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum </p>

            </div>
            <div class="img-wrapper">
              <img src="../../assets/images/aboutuspage/our-product/product-cms-dashboard.jpg"
                alt="product-cms-dashboard">
            </div>
          </div>
        </div>

      </mat-tab>
      <mat-tab label="cms-domain">
        <ng-template mat-tab-label>
          <img src="../../assets/images/aboutuspage/our-product/product-cms-blue.svg" alt="IOT Software"
            class="hover-img">
          <img src="../../assets/images/aboutuspage/our-product/product-cms-sky.svg" alt="IOT Software"
            class="normal-img">
          <span class="title">CMS</span>
        </ng-template>
        <div class="product-tab-content img-content-section has-right-img">
          <div class="img-text-wrapper">
            <div class="text-wrapper">
              <h3 class="m-b-30">Content Management System (CMS)</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum </p>

            </div>
            <div class="img-wrapper">
              <img src="../../assets/images/aboutuspage/our-product/product-cms-dashboard.jpg"
                alt="product-cms-dashboard">
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="cms-domain">
        <ng-template mat-tab-label>
          <img src="../../assets/images/aboutuspage/our-product/product-crm-blue.svg" alt="CRM" class="hover-img">
          <img src="../../assets/images/aboutuspage/our-product/product-crm-sky.svg" alt="CRM" class="normal-img">
          <span class="title">CRM</span>
        </ng-template>
        <div class="product-tab-content img-content-section has-right-img">
          <div class="img-text-wrapper">
            <div class="text-wrapper">
              <h3 class="m-b-30">Content Management System (CMS)</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum </p>

            </div>
            <div class="img-wrapper">
              <img src="../../assets/images/aboutuspage/our-product/product-cms-dashboard.jpg"
                alt="product-cms-dashboard">
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</section>