$white: #fff;
$blue: #051c45;
$black: #000;
$purple: #dfc8f9;
$green: #bff6ed;
$pink: #fddcd8;
$secondary: #1681c4;
$light-secondary: #8ac0e1;
$gray: #f0f0f0;
$primary-black: #333;
$light-blue: #8ac0e1;
$light-blue2: #d1e8f6;
$bg-green: #9ef0e7;
$steps: 16;
$gray2: #dcdcdc;
$gray3: #f1f1f1;
