<section class="banner-section">
  <canvas id="canvas"></canvas>
  <div class="container">
    <div class="text-block">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (afterChange)="afterChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <h1>{{dynamicHeaderText}}</h1>
          <p>{{dynamicHeaderDescText}}</p>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
<section class="marquee-wrapper light-blue-bg p-v-30">
  <div class="marquee">
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/angular.svg" alt="angular">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/azure.svg" alt="azure">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/css.svg" alt="css">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/fast-api.svg" alt="fast-api">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/flask.svg" alt="flask">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/gcp.svg" alt="gcp">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/go.svg" alt="go">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/js.svg" alt="js">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/mongo-db.svg" alt="mongo-db">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/net.svg" alt="net">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/node-js.svg" alt="node-js">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/python.svg" alt="python">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/sql.svg" alt="sql">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/typescript.svg" alt="typescript">
    </a>
  </div>
  <div class="marquee">
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/angular.svg" alt="angular">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/azure.svg" alt="azure">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/css.svg" alt="css">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/fast-api.svg" alt="fast-api">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/flask.svg" alt="flask">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/gcp.svg" alt="gcp">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/go.svg" alt="go">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/js.svg" alt="js">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/mongo-db.svg" alt="mongo-db">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/net.svg" alt="net">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/node-js.svg" alt="node-js">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/python.svg" alt="python">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/sql.svg" alt="sql">
    </a>
    <a href="" title="" target="_blank" class="img-wrapper">
      <img src="../../assets/images/homepage/technology/typescript.svg" alt="typescript">
    </a>
  </div>
</section>
<section class="img-content-section">
  <div class="container">
    <div class="img-text-wrapper">
      <div class="img-wrapper" data-aos="fade-right" data-aos-duration="1000">
        <img class="m-b-20" src="../../assets/images/homepage/who-we-are-img.png" alt="Who we are img">
      </div>
      <div class="text-wrapper" data-aos="fade-left" data-aos-duration="1000">
        <h2 class="m-b-30 text-left">Who We Are?</h2>
        <p>Welcome to Astute Info Solution, your trusted partner in digital innovation.We're experts in web crawling,
          software development, and IT consulting. Whether you're a big company or just a startup, we're here to make
          things easier for you.</p>
        <p>We're a team of skilled tech experts who are passionate about creating customized solutions that fit your
          needs perfectly. Whether you need to extract valuable data from the web, develop custom software, or refine
          your IT
          strategy, we have the skills and experience to help you succeed.</p>
        <P>At Astute Info Solution, our mission is to simplify your life. Our services are designed to streamline your
          business operations, boost productivity, and unlock your full potential. Let our team be your trusted
          companion in the world of technology.</P>
      </div>
    </div>
  </div>
</section>

<section class="grid-with-hover-section p-t-0 text-center ">
  <div class="container">
    <h2 class="m-b-30">Our Services</h2>
    <div class="grid-with-hover-wrapper">
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/homepage/service-web-crawling.svg" alt="Web crawling logo">
          <h3>Web Crawling</h3>
          <div class="hover-box">
            <p>Quickly get the data you need with our fast and reliable web crawling service.</p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/homepage/service-software.svg" alt="Software Development logo">
          <h3>Software Development</h3>
          <div class="hover-box">
            <p>Partnering with you to deliver customized software solutions for your unique business
              with exceptional quality.
            </p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/homepage/service-it.svg" alt="IT Consultant logo">
          <h3>IT Consultant</h3>
          <div class="hover-box">
            <p>Guiding Your Business with Expert IT Advice.</p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/homepage/service-web-dev.svg" alt="Web Development logo">
          <h3>Web Development</h3>
          <div class="hover-box">
            <p>Crafting User-Friendly Web Experiences with Innovative Solutions for Today's Businesses.</p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/homepage/service-e-commerce.svg" alt="E-Commerce logo">
          <h3>Automation Solution</h3>
          <div class="hover-box">
            <p>Elevate Your Operations with Intelligent Automation.</p>
          </div>
        </div>
      </a>
      <a class="grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
        <div class="grid-item-inner">
          <img class="m-b-20" src="../../assets/images/homepage/service-ui-ux.svg" alt="UI-UX logo">
          <h3>UI-UX Design</h3>
          <div class="hover-box">
            <p>Craft intuitive interfaces and engaging user experiences with our expert UI/UX design service.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="technical-approach has-blue-bg">
  <div class="container">
    <h2 class="m-b-50">Technical Approach & Capabilities</h2>

    <ul class="tech-approach-wrapper">
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/agile.svg" alt="Agile logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Agile Development Practices</h3>
            <p>Adopts Agile methodologies to ensure flexible, iterative development with regular stakeholder engagement
              and timely delivery.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/web-crawling.svg" alt="Web crawling logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Advanced Web Crawling Techniques</h3>
            <p>Utilizes cutting-edge algorithms and robust frameworks to efficiently scrape and aggregate data from
              various web sources.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/custom-software.svg" alt="Custom Software logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Custom Software Solutions</h3>
            <p>Develops tailored software applications that meet specific client needs, emphasizing scalability and
              integration capabilities.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/scalable-infrastructure.svg"
              alt="scalable infrastructure logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Scalable Infrastructure</h3>
            <p>Designs IT architectures that can scale effectively to handle increased loads and complex operations,
              ensuring sustainability and adaptability.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/performance-optimization.svg"
              alt="Web crawling logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Performance Optimization</h3>
            <p>Focuses on optimizing software performance through advanced coding techniques, efficient database
              management, and resource optimization.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/ml-ai.svg" alt="Web crawling logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Machine Learning and AI</h3>
            <p>Integrates AI and machine learning to enhance capabilities and automate complex processes.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/quality-assurance.svg" alt="Web crawling logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Quality Assurance</h3>
            <p>Implements comprehensive testing to ensure software reliability and performance.</p>
          </div>
        </div>
      </li>
      <li class="tech-approach-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1400">
        <div class="tech-approach-inner">
          <em>
            <img src="../../assets/images/homepage/technical-approach/continuous-support.svg" alt="Web crawling logo">
          </em>
          <div class="text-wrapper m-l-20">
            <h3 class="m-b-5">Continuous Support and Maintenance</h3>
            <p>Provides ongoing technical support and maintenance to ensure software reliability and up-to-date systems.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="tab-with-slider text-center p-b-0">
  <h2 class="m-b-30">Industries We Serve</h2>
  <div class="astute-tab-wrapper">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Software Development">
        <p-carousel [value]="sd" [numVisible]="1" orientation="vertical" [circular]="true" [showIndicators]="true"
          [showNavigators]="true" [autoplayInterval]="6000">
          <ng-template let-sd pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="tab-content-wrapper">
                  <div class="container">
                    <div class="img-content-wrapper">
                      <div class="text-wrapper">
                        <h3 class="m-b-20">
                          {{ sd.slideTitle}}
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro, magni quidem illo
                          laboriosam aperiam officiis quibusdam ut cum quo laborum eum sint, omnis nulla culpa quam ab
                          excepturi, dolore soluta sequi perferendis? Excepturi!</p>
                        <div class="atute-check-list">
                          <ul>
                            <li>{{ sd.li1}}</li>
                            <li>{{ sd.li2}}</li>
                            <li>{{ sd.li3}}</li>
                            <li>{{ sd.li4}}</li>
                            <li>{{ sd.li5}}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="img-wrapper">
                        <div class="img-inner">
                          <img src="../../assets/images/homepage/Homepageindslider.svg" alt="{{ sd.slideTitle}}"
                            class="bg-img">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </mat-tab>
      <mat-tab label="Web Crawling">
        <p-carousel [value]="wc" [numVisible]="1" orientation="vertical" [circular]="true" [showIndicators]="true"
          [showNavigators]="true" [autoplayInterval]="3000">
          <ng-template let-wc pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="tab-content-wrapper">
                  <div class="container">
                    <div class="img-content-wrapper">
                      <div class="text-wrapper">
                        <h3 class="m-b-20">
                          {{ wc.slideTitle}}
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro, magni quidem illo
                          laboriosam aperiam officiis quibusdam ut cum quo laborum eum sint, omnis nulla culpa quam ab
                          excepturi, dolore soluta sequi perferendis? Excepturi!</p>
                        <div class="atute-check-list">
                          <ul>
                            <li>{{ wc.li1}}</li>
                            <li>{{ wc.li2}}</li>
                            <li>{{ wc.li3}}</li>
                            <li>{{ wc.li4}}</li>
                            <li>{{ wc.li5}}</li>
                          </ul>
                        </div>
                      </div>
                      <div class="img-wrapper">
                        <div class="img-inner">
                          <img src="../../assets/images/homepage/{{wc.slideImg}}" alt="{{ wc.slideTitle}}"
                            class="bg-img">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<section class="home-blog-grid">
  <div class="container">
    <h2 class="m-b-30">Recent Blogs</h2>
    <div class="three-col-grid-wrapper">
      <div class="three-col-item" data-aos="fade-up" data-aos-duration="1000">
        <a href="#" class="three-col-item-inner">
          <div class="img-wrapper">
            <img src="../../assets/images/homepage/blog-img-2.jpg" alt="Blog Img" class="bg-img">
          </div>
          <div class="content-wrapper">
            <p class="m-b-20">Serverless architecture is revolutionizing the way we think about deploying applications
              and
              services.
              This innovative approach offers flexibility, scalability.</p>
            <div class="gray-chip">
              By John Doe 03.02.2018
            </div>
          </div>
        </a>
      </div>
      <div class="three-col-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <a href="#" class="three-col-item-inner">
          <div class="img-wrapper">
            <img src="../../assets/images/homepage/blog-img-2.jpg" alt="Blog Img" class="bg-img">
          </div>
          <div class="content-wrapper">
            <p class="m-b-20">Serverless architecture is revolutionizing the way we think about deploying applications
              and
              services. This innovative approach offers flexibility, scalability.</p>
            <div class="gray-chip">
              By John Doe 03.02.2018
            </div>
          </div>
        </a>
      </div>
      <div class="three-col-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <a href="#" class="three-col-item-inner">
          <div class="img-wrapper">
            <img src="../../assets/images/homepage/blog-img-3.jpg" alt="Blog Img" class="bg-img">
          </div>
          <div class="content-wrapper">
            <p class="m-b-20">Serverless architecture is revolutionizing the way we think about deploying applications
              and
              services.
              This innovative approach offers flexibility, scalability.</p>
            <div class="gray-chip">
              By John Doe 03.02.2018
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>

<script src="assets/js/master.js" defer></script> 